* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #e63946;
  color: #fff;
  height: 100vh;
  display: flex;
}
.box {
  width: 60vw;
  overflow: hidden;
  margin: auto;
  background-color: #204c8a;
  padding: 30px;
  border-radius: 20px;
}
label {
  text-transform: uppercase;
  letter-spacing: 1px;
  word-spacing: 3px;
}
input,
textarea,
select {
  display: block;
  width: 99%;
  margin: 10px 2px;
  padding: 0.5rem;
  color: #e63946;
  border-radius: 10px;
  border: none;
}
input::placeholder,
textarea::placeholder {
  color: #e63946;
}
input:focus,
textarea:focus,
select:focus {
  outline: none;
}
input[type="radio"],
input[type="checkbox"] {
  width: auto;
  display: inline-block;
  margin-left: 20px;
  margin-right: 10px;
}

button {
  padding: 10px 25px;
  color: #fff;
  background-color: #1d3557;
  border-radius: 10px 30px;
  border: none;
  text-transform: capitalize;
  transition: all 0.4s ease-in;
  display: block;
}
button:hover {
  background-color: #023e8a;
  border-radius: 30px 10px;
}
